[submodule "UniDepth"]
	path = UniDepth
	url = https://github.com/lpiccinelli-eth/UniDepth.git
[submodule "diffusion_policy"]
	path = diffusion_policy
	url = https://github.com/real-stanford/diffusion_policy.git
